.react-autosuggest__container {
    position: relative;
    width: 100%;
  }
  
  .react-autosuggest__input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #6EA0F94F;
  }
  
  .react-autosuggest__suggestions-container {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .react-autosuggest__suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  