/* style.css */
.autocomplete-container {
    position: relative;
}

.suggestions-container {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestion {
    padding: 10px;
    border-bottom: 1px solid #eee;
    white-space:nowrap;
    display: block;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion-highlighted {
    background-color: #f0f0f0;
}

.autocomplete-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}