@import "../mixins.scss";

.user_container{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

button{
    color: red;
}


.main-title{
    display: flex;
    flex-direction: row;
}