.container-job-list{
    display: flex;
    flex-direction: column  ;
}


.jobs-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.job-card {
   width: 25%;
   border-radius: 20%;
   height: auto;
}